body {
    padding-top: 6vh;
    padding-bottom: 6vh;
}

div {
    word-wrap: break-word;
    word-break: normal;
}

a {
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

a:hover, a:focus {
    text-decoration: none;
}

.site-header h1 a:hover, .site-header h1 a:focus, h1 {
    color: #e95420;
}

.nav-container {
    padding: 15px 15px 20px;
}
